<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.yannickloriot</string>
	<key>--create-docset</key>
	<false/>
	<key>--ignore</key>
	<array>
		<string>.m</string>
		<string>ARCMacro.h</string>
	</array>
	<key>--docset-platform-family</key>
	<string>iphoneos</string>
	<key>--output</key>
	<string>documentation</string>
	<key>--project-company</key>
	<string>Yannick Loriot</string>
	<key>--project-name</key>
	<string>YLProgressBar</string>
	<key>--project-version</key>
	<string>3.10.1</string>
	<key>--docset-feed-url</key>
	<string>http://yannickloriot.com/library/ios/ylprogressbar/</string>
	<key>--docset-package-url</key>
	<string>http://yannickloriot.com/library/ios/ylprogressbar/</string>
	<key>--keep-undocumented-objects</key>
	<false/>
	<key>--keep-undocumented-members</key>
	<false/>
	<key>--warn-undocumented-object</key>
	<false/>
	<key>--warn-undocumented-member</key>
	<false/>
	<key>--warn-empty-description</key>
	<true/>
	<key>--warn-missing-arg</key>
	<true/>
	<key>--warn-unknown-directive</key>
	<true/>
	<key>--logformat</key>
	<string>html</string>
	<key>--exit-threshold</key>
	<integer>2</integer>
</dict>
</plist>
